* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.headerWrapper {
  padding: 0 270px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 84px;
  background-color: #1a1e1f;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  width: 182px;
  height: 40px;
  cursor: pointer;
}

.navList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navList li {
  cursor: pointer;
  margin-left: 18px;
}

.pageName {
  color: #f4f4f4;
  text-align: right;
  padding: 0 10px;
  transition: 0.4s ease 0s;
}

.pageName:hover {
  color: #00a3e0;
}

.activePage {
  color: #00a3e0;
}

.jumbotron {
  background-color: #2b2b2b;
}

.bgImage {
  width: 100%;
  position: relative;
}

.bgText {
  font-size: 42px;
  line-height: 1.6em;
  color: #f4f4f4;
  position: absolute;
  top: 194px;
  left: 270px;
}

.infoText {
  font-size: 28px;
  line-height: 1.6em;
  color: #f4f4f4;
  padding: 0 270px;
}
