.footerWrapper {
  background-color: rgb(26, 30, 31);
}

.footerContainer {
  padding: 65px 270px 42px;
}
.iconsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;
}

.tbcLogo {
  width: 106px;
  height: 30px;
}

.mediaIcons {
  display: flex;
  gap: 10px;
}

.mediaIcons img {
  cursor: pointer;
  width: 39px;
  height: 39px;
}

.footerInfoContainer {
  display: flex;
  justify-content: space-between;
}

.buttonBox {
  display: flex;
  align-items: end;
}

.buttonBox button {
  cursor: pointer;
  background-color: #00aef3;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 30px;
  transition: 0.4s ease 0s;
}

.buttonBox button:hover {
  background-color: rgb(170, 170, 170);
  color: black;
}

.footerInfo {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footerInfo p {
  color: #ffffff;
  font-size: 14px;
}

.footerInfo a {
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

.footerInfo a:hover {
  filter: brightness(80%);
}
