.footerWrapper {
  background-color: rgb(26, 30, 31);
}

.footerContainer {
  padding: 65px 270px 42px;
}

.iconsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;
}

.tbcLogo {
  width: 106px;
  height: 30px;
}

.mediaIcons {
  display: flex;
  gap: 10px;
}

.mediaIcons img {
  cursor: pointer;
  width: 39px;
  height: 39px;
}

.footerInfoContainer {
  display: flex;
  justify-content: space-between;
}

.buttonBox {
  display: flex;
  align-items: end;
}

.buttonBox button {
  cursor: pointer;
  background-color: #00aef3;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 30px;
  transition: 0.4s ease 0s;
}

.buttonBox button:hover {
  background-color: rgb(170, 170, 170);
  color: black;
}

.footerInfo {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footerInfo p {
  color: #ffffff;
  font-size: 14px;
}

.footerInfo a {
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

.footerInfo a:hover {
  filter: brightness(80%);
}

@media screen and (max-width: 1280px) {
  .footerContainer {
    padding: 65px 150px 42px;
  }
}

@media screen and (max-width: 1024px) {
  .footerContainer {
    padding: 65px 15px 42px;
  }
}

@media screen and (max-width: 600px) {
  .footerContainer {
    padding: 150px 50px 72px;
    position: relative;
  }

  .iconsContainer {
    justify-content: end;
  }

  .tbcLogo {
    width: 156px;
    height: 46px;
    position: absolute;
    top: 65px;
    left: 50px;
  }

  .mediaIcons {
    gap: 20px;
    margin-bottom: 20px;
  }

  .mediaIcons img {
    width: 44px;
    height: 44px;
  }

  .footerInfoContainer {
    display: flex;
    justify-content: space-between;
  }

  .buttonBox {
    display: flex;
    align-items: end;
    position: absolute;
    top: 150px;
    left: 50px;
  }

  .buttonBox button {
    font-size: 20px;
    padding: 10px 15px;
  }

  .footerInfo {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .footerInfo p {
    font-size: 18px;
  }

  .footerInfo a {
    font-size: 18px;
  }
}
