.headerWrapper {
  padding: 0 270px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 84px;
  background-color: #1a1e1f;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: 0.3s ease, opacity 0.3s ease;
}

.headerTransparent {
  background-color: rgb(34, 34, 34);
  opacity: 0.95;
}

.logo {
  width: 182px;
  height: 40px;
  cursor: pointer;
}

.navList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.pageName {
  color: #f4f4f4;
  font-size: 14px;
  text-align: right;
  padding: 0 10px;
  transition: 0.4s ease 0s;
}

.pageName:hover {
  color: #00a3e0;
}

.burgerBarContainer {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: transform 0.4s ease;
  display: none;
}

.burgerBarContainer .line:nth-child(1) {
  background-color: #dbdbdb;
  width: 16px;
  height: 4px;
  border-radius: 2px;
  transition: transform 0.4s ease;
}

.burgerBarContainer .line:nth-child(2) {
  background-color: #dbdbdb;
  border-radius: 2px;
  width: 32px;
  height: 4px;
  transition: transform 0.4s ease;
}

.burgerBarContainer .line:nth-child(3) {
  align-self: flex-end;
  background-color: #dbdbdb;
  border-radius: 2px;
  width: 16px;
  height: 4px;
  transition: transform 0.4s ease;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: rgba(34, 34, 34);
  padding-top: 84px;
  transition: right 0.4s ease;
  z-index: 99;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 98;
}
.burgerBarContainer.active {
  position: absolute;
  top: 28px;
  right: 25px;
  z-index: 200;
}

.burgerBarContainer.active ~ .sidebar {
  right: 0;
}

.burgerBarContainer.active ~ .backdrop {
  display: block;
}

.burgerBarContainer.active {
  transform: rotate(-45deg);
}

.burgerBarContainer.active .line:nth-child(1) {
  transform: rotate(-90deg) translateX(4px);
  transform-origin: right;
}

.burgerBarContainer.active .line:nth-child(3) {
  transform: rotate(-90deg) translateX(-4px);
  transform-origin: left;
}

.closeButton {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.sidebarNavList {
  padding: 40px 10px 0 0;
  padding-right: 10px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 40px;
}

.sidebarPageName {
  color: #f4f4f4;
  text-align: right;
  padding: 0 10px;
  transition: 0.4s ease 0s;
  font-size: 18px;
}

.activePage {
  color: #00a3e0;
}

@media screen and (max-width: 1280px) {
  .headerWrapper {
    padding: 0 150px;
  }
}

@media screen and (max-width: 1024px) {
  .headerWrapper {
    padding: 0 15px;
  }
}

@media screen and (max-width: 600px) {
  .headerWrapper {
    padding: 0 25px;
  }
  .navList {
    display: none;
  }
  .logo {
    width: 170px;
    height: 37px;
  }

  .burgerBarContainer {
    display: flex;
  }
}
