.jumbotron {
  background-color: #2b2b2b;
}

.bgImage {
  width: 100%;
  position: relative;
  object-fit: cover;
  object-position: center;
}

.bgText {
  font-size: 42px;
  line-height: 1.6em;
  color: #f4f4f4;
  position: absolute;
  top: 194px;
  left: 270px;
}

.education {
  font-size: 34px;
}

.infoTextContainer {
  display: flex;
  flex-direction: column;
}

.infoText {
  font-size: 28px;
  line-height: 1.6em;
  color: #f4f4f4;
  padding: 0 270px;
  margin-top: 66px;
}

.seeMore {
  cursor: pointer;
  font-size: 20px;
  color: #00aef3;
  margin-top: 60px;
  margin-bottom: 66px;
  padding-left: 270px;
  transition: 0.4s ease 0s;
}

.seeMore:hover {
  color: rgb(170, 170, 170);
}

@media screen and (max-width: 1280px) {
  .bgText {
    left: 150px;
  }

  .bgImage {
    width: 100%;
    height: 352px;
    object-fit: cover;
    object-position: center;
  }
  .infoText {
    padding: 0 150px;
  }
  .seeMore {
    padding-left: 150px;
  }
}

@media screen and (max-width: 1024px) {
  .bgText {
    top: 144px;
    left: 15px;
  }

  .bgImage {
    width: 100%;
    height: 352px;
  }
  .infoText {
    padding: 0 15px;
  }
  .seeMore {
    padding-left: 15px;
  }
}

@media screen and (max-width: 600px) {
  .bgImage {
    width: 100%;
    height: 295px;
    object-fit: cover;
    object-position: center;
  }

  .bgText {
    font-size: 32px;
    left: 25px;
  }

  .education {
    font-size: 30px;
  }

  .infoText {
    font-size: 21px;
    padding: 0 25px;
    margin-top: 44px;
  }

  .seeMore {
    font-size: 21px;
    padding-left: 25px;
  }
}
