.questions {
  background-color: #161616;
}

.questionsContainer {
  padding: 136px 310px 66px 310px;
}

.questionsTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.questionsTitle h2 {
  color: #f4f4f4;
}

.questionsTitle a {
  cursor: pointer;
  color: #00a3e0;
  font-size: 24px;
  font-weight: 700;
  transition: 0.4s ease 0s;
}

.questionsTitle a:hover {
  color: rgb(170, 170, 170);
}

.questionBox {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.questionBox h3 {
  color: #f4f4f4;
  font-size: 18px;
  font-weight: 400;
}

.arrow {
  fill: #f4f4f4;
}

.active {
  transform: rotate(180deg);
}

hr {
  border: 0.2px solid rgba(85, 85, 85, 1);
}

.answerText {
  color: #f4f4f4;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 2;
}

.levelInfo {
  margin: 0 21px;
  padding: 2px 0 3px;
}

.none {
  display: none;
}
